/* ----------------------------- Start Jobs -------------------------------*/
.viewjob, .newjob{
  .page-content{
    padding: 70px;
  }
  .next-action{
    margin: 100px 0 40px;
    text-align: center;
    .btn{
      font-size: 18px;
    }
  }
}
.viewjob{
  .page-content{
    .jobs-details{
      .jobs-head{
        display: flex;
        justify-content: space-between;
        .title{
          h3{
            font-weight: bold;
          }
          span{
            font-size: 14px;
            color: $mlGray;
            font-weight: 500;
          }
        }
        .state{
          padding-right: 40px;
          position: relative;
          .more{
            position: absolute;
            top: 0;
            right:  -10px;
            img{
              cursor: pointer;
            }
            .dropdown-menu{
              top: 20px !important;
              left: auto !important;
              right: -10px !important;
              min-width: 100px;
              .dropdown-item{
                font-size: 14px;
                font-weight: 500;
                &:hover{
                  color: $mGray;
                }
                &.active,
                &:active{
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
      .applicants{
        margin-top: 40px;
        h5{
          font-size: 18px;
          font-weight: 600;
          span{
            display: inline-block;
            margin-left: 20px;
            font-weight: 500;
            color: $babyBlue;
          }
        }
      }
      .description{
        margin-top: 40px;
        padding-right: 100px;
        h4{
          color: $mGray;
        }
        p{
          color: $mmGray;
        }
      }
    }
  }
}
.newjob{
  .title{
    margin-bottom: 20px;
  }
}
.allwsjobs{
  .addnewjob{
    margin-top: 20px;
  }
  .pagination{
    display: flex;
    justify-content: flex-end;
    padding: 0 30px 20px 0px;
    .tools{
      width: 100px;
      display: flex;
      justify-content: space-between;
      color: $mlGray;
      span{
        font-size: 20px;
        font-weight: 300;
      }
      .num{
        span{
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
/* ----------------------------- End Jobs -------------------------------*/
