.modal{
  .modal-content{
    border: 0;
  }
  .modal-body{
    font-weight: 500;
    font-size: 14px;
    color: $mlGray;
  }
  .modal-title{
    font-size: 18px;
  }
  .modal-footer{
    .btn{
      font-size: 14px;
      padding: 7px 20px;
      border-radius: 8px;
    }
  }
  &.edit{
    .modal-dialog{
      max-width: 800px;
    }
  }
}
.main-footer{
  padding: 100px 0 40px;
  background-color: $dBlue;
  p{
    font-weight: 600;
    color: #fff;
    font-size: 14px;
  }
}
