.access .access-box {
  -webkit-box-shadow: 0 1px 6px #ccc;
          box-shadow: 0 1px 6px #ccc;
}

.home .features .content-box .feat {
  -webkit-box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
}

.footer {
  background-size: cover;
}

/* --------------------------- Start Global ---------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

h1 {
  font-weight: 300;
}

a:hover,
a:focus {
  text-decoration: none;
}

button:focus {
  outline: 0;
  background-color: transparent;
}

section {
  padding: 100px 0;
}

section .section-head h2 {
  color: #202020;
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 2.5em;
  margin-bottom: 20px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* --------------------------- End Global ---------------------------------*/
/* --------------------------- Start Framework ---------------------------------*/
.req-mark {
  color: #FF3232;
  position: relative;
  top: 2px;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  padding: 10px 40px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 600;
}

.btn-bBlue {
  background-color: #00ADB5;
  color: #fff !important;
}

.btn-bBlue:hover {
  color: #fff;
}

.btn-close {
  color: #252733;
  background-color: #E1E1E1;
}

.btn-close:hover {
  color: #252733;
}

.btn-delete {
  color: #fff;
  background-color: #FF3232;
}

.btn-delete:hover {
  color: #fff;
}

.btn-save {
  color: #fff;
  background-color: #00ADB5;
}

.btn-save:hover {
  color: #fff;
}

.page-content {
  position: relative;
}

.dashboard .page-content {
  margin: 0 30px;
}

.state > span {
  display: inline-block;
  min-width: 90px;
  padding: 7px 0px;
  text-align: center;
  color: #fff !important;
  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
}

.state > span.active {
  background-color: #03BF66;
}

.state > span.hold {
  background-color: #FEC400;
}

.state > span.closed {
  background-color: #363740;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.line-bordered::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #ffe005;
  height: 2px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

.main-yellow {
  color: #ffe005;
}

.description {
  font-size: 18px;
  letter-spacing: -0.01px;
  color: #6a6a6a;
  margin: 0;
}

.image img {
  width: 100%;
}

.no-padding {
  padding: 0 !important;
}

.social-icon {
  margin-top: 20px;
  text-align: center;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #202020;
  display: block;
  margin: 0 6px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}

.social-icon li a span {
  display: block;
  padding: 10px;
}

.social-icon li a:hover {
  color: #fff;
  background-color: #202020;
}

.get-up-hover {
  position: relative;
  overflow: hidden;
}

.get-up-hover .text {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  -webkit-transition: transform 220ms ease-in-out;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
  -webkit-transform: translateY(calc(100% + 32px));
  transform: translateY(calc(100% + 32px));
}

.get-up-hover .text .mem-name, .get-up-hover .text .mem-postion {
  padding-left: 20px;
}

.get-up-hover .text .mem-name {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 32px;
  margin-bottom: 25px;
  padding-right: 100px;
}

.get-up-hover .text .mem-name::before {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 30px;
  display: block;
}

.get-up-hover .text .mem-postion {
  padding-right: 50px;
  color: #e1e1e1;
  margin-bottom: 30px;
}

.get-up-hover:hover .text {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.page-head {
  padding: 60px 0 100px;
}

.page-head h1 {
  font-weight: 500;
  color: #3f3f3f;
  padding-left: 30px;
  border-left: 4px solid #ffe005;
  font-size: 32px;
  font-weight: 700;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #363740;
}

@media (max-width: 991px) {
  .main-page {
    position: relative;
  }
}

.main-page .menu-sidebar {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.main-page .content-side {
  min-height: 100vh;
  background-color: #F7F8FC;
  width: 100%;
}

@media (max-width: 991px) {
  .main-page .content-side > div {
    position: relative;
    z-index: 5;
  }
}

.main-page .page-content {
  padding: 40px 0;
}

.main-page .page-content a:hover {
  color: #fff;
}

/* -------------------------- End Global -----------------------------*/
/*-------------------------- Start Navbar -------------------------- */
.home .nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.home .nav-wrapper .container {
  padding: 0;
}

.home .nav-wrapper .navbar {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home .nav-wrapper .navbar .navbar-nav .nav-link {
  font-weight: 500;
  font-size: 14px;
  padding: 8px 0;
  margin-left: 30px;
  color: rgba(47, 46, 65, 0.8);
}

.home .nav-wrapper .navbar .navbar-nav .nav-link:hover {
  color: #2F2E41;
}

.home .nav-wrapper .navbar .navbar-nav .nav-link.btn-bBlue {
  background-color: #00ADB5;
  color: #fff !important;
  padding: 4px 20px !important;
  border-radius: 10px;
}

.home .nav-wrapper .navbar .navbar-nav li.active .nav-link {
  color: #2F2E41;
}

/*-------------------------- End Navbar -------------------------- */
/*-------------------------- Start Dashboard Header -------------------------- */
.dashboard header {
  margin-top: 10px;
  width: 100%;
  padding: 6px 30px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 575px) {
  .dashboard header {
    padding: 8px 10px;
  }
}

@media (max-width: 991px) {
  .dashboard header {
    position: relative;
    z-index: 4;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dashboard header {
    padding: 10px 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .dashboard header {
    padding: 8px 40px;
  }
}

.dashboard header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.dashboard header .wrapper .rest-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard header .wrapper .title-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard header .heading {
  font-weight: bold;
  margin-bottom: 0px;
  position: relative;
  color: #252733;
  text-transform: capitalize;
  font-size: 24px;
}

@media (max-width: 991px) {
  .dashboard header .heading {
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .dashboard header .heading {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .dashboard header .heading {
    font-size: 24px;
  }
}

.dashboard header .media .image {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

@media (max-width: 575px) {
  .dashboard header .media .image {
    width: 40px;
    height: 40px;
  }
}

.dashboard header .media .image img {
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .media .image {
    width: 44px;
    height: 44px;
  }
}

.dashboard header .media .media-body {
  margin: 10px 12px 0 0;
  color: #252733;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard header .media .media-body h6 {
  margin-top: 4px;
  margin-bottom: 5px;
  margin-right: 20px;
}

@media (max-width: 575px) {
  .dashboard header .media .media-body h6 {
    font-size: 14px;
    margin-right: 8px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .media .media-body h6 {
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .dashboard header .media .media-body img {
    width: 10px;
  }
}

.dashboard header .deli {
  display: block;
  margin: 8px 25px 0 23px;
  width: 2px;
  height: 34px;
  background-color: #ebebf2;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (max-width: 575px) {
  .dashboard header .deli {
    margin: 8px 10px 0 9px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .deli {
    margin-top: 6px;
  }
}

.dashboard header .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.dashboard header .icons ul li {
  padding-top: 10px;
  display: block;
}

.dashboard header .icons ul li:nth-of-type(2) {
  margin: 0 35px;
}

@media (max-width: 575px) {
  .dashboard header .icons ul li:nth-of-type(2) {
    margin: 0 25px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .icons ul li:nth-of-type(2) {
    margin: 0 25px;
  }
}

.dashboard header .icons ul li:last-of-type {
  padding-top: 5px;
}

@media (max-width: 575px) {
  .dashboard header .icons ul li:last-of-type img {
    padding-top: 5px;
    width: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .icons ul li:last-of-type img {
    padding-top: 3px;
    width: 22px;
  }
}

@media (max-width: 575px) {
  .dashboard header .icons ul li img {
    width: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .dashboard header .icons ul li img {
    width: 18px;
  }
}

.dashboard header .dropdown-menu {
  top: 35px !important;
  -webkit-transform: none !important;
          transform: none !important;
  left: auto !important;
  right: -10px !important;
  border-radius: 0;
  font-size: 14px;
}

.dashboard header .dropdown-menu .dropdown-item:focus, .dashboard header .dropdown-menu .dropdown-item:hover {
  background-color: #E1E1E1;
}

/*-------------------------- End Dashboard Header -------------------------- */
.footer {
  padding: 0;
  background: url("../images/footer-back.jpg") center top no-repeat fixed;
  color: #fff;
  margin-top: 100px;
}

.footer .footer-back {
  padding: 90px 0 0px;
  background-color: rgba(32, 32, 32, 0.95);
}

.footer .site-logo span {
  color: #ffe005;
  font-size: 71px;
}

.footer .links {
  margin-top: 70px;
}

.footer .links h5 {
  margin-bottom: 55px;
}

.footer .links li a {
  color: #d1d1d1;
}

.footer .links .pages li a {
  padding: 8px 0;
  display: inline-block;
  -webkit-transition: transform 220ms ease-in-out;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.footer .links .pages li a:hover {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.footer .links .schedule li {
  color: #AAAAAA;
  padding: 8px 0;
}

.footer .links .schedule li span {
  color: #fff;
  font-weight: 600;
}

.footer .links .schedule .email {
  margin-top: 30px;
}

.footer .links .schedule .email h6 {
  font-weight: 600;
}

.footer .links .schedule .email p {
  color: #aaa;
}

.footer .links .instagram .row > div {
  padding: 0 10px;
}

.footer .links .instagram .image {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.footer .links .instagram .image .overlay {
  background-color: rgba(0, 0, 0, 0.05);
}

.footer .links .instagram .image .overlay .link {
  -webkit-transition: all 320ms ease-in-out;
  transition: all 320ms ease-in-out;
  display: none;
  line-height: 75px;
  text-align: center;
}

.footer .links .instagram .image .overlay .link img {
  width: 50%;
}

.footer .links .instagram .image .overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer .links .instagram .image .overlay:hover .link {
  display: block;
  cursor: pointer;
}

.footer .links .social-icon {
  margin-bottom: 30px;
}

.footer .links .social-icon li a {
  color: #fff;
  background-color: transparent;
}

.footer .links .social-icon li a span {
  font-size: 20px;
}

.footer .links .social-icon li a:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footer .conclusion {
  text-transform: capitalize;
  background-color: #1d1d1d;
  margin: 0;
  padding: 16px 0 12px;
  font-size: 14px;
}

.home .footer {
  margin-top: 0px;
}

/*-------------------------------- Start SideBar --------------------------------*/
.show-sidebar {
  display: none;
  position: fixed;
  z-index: 7;
}

.show-sidebar.clicked {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media (max-width: 991px) {
  .show-sidebar {
    background: #4b4d50;
    display: block;
    text-align: center;
    padding-left: 5px;
    cursor: pointer;
  }
  .show-sidebar img {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-bottom: 2px;
    width: 18px;
  }
}

@media (max-width: 575px) {
  .show-sidebar {
    top: 270px;
    left: -2px;
    padding-left: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .show-sidebar img {
    margin-bottom: 2px;
    width: 18px;
  }
  .show-sidebar.clicked {
    left: 65%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .show-sidebar {
    top: 270px;
    left: -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .show-sidebar img {
    width: 18px;
  }
  .show-sidebar.clicked {
    left: 320px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .show-sidebar {
    top: 270px;
    left: -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .show-sidebar img {
    width: 18px;
  }
  .show-sidebar.clicked {
    left: 320px;
  }
}

.menu-sidebar {
  width: 312px;
  height: 100%;
}

@media (max-width: 991px) {
  .menu-sidebar {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    z-index: 6;
  }
  .menu-sidebar.clicked {
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
  }
  .menu-sidebar.clicked .menu-sidebar__content {
    left: 0;
  }
  .menu-sidebar .menu-sidebar__content {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #4b4d50;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-sidebar .menu-sidebar__content.clicked {
    left: 0;
  }
  .menu-sidebar .show-sidebar {
    background: #4b4d50;
    display: block;
    text-align: center;
    position: absolute;
    padding-left: 5px;
    cursor: pointer;
  }
  .menu-sidebar .show-sidebar img {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    margin-bottom: 2px;
    width: 18px;
  }
}

@media (max-width: 575px) {
  .menu-sidebar .menu-sidebar__content {
    width: 65%;
    left: -65%;
  }
  .menu-sidebar .show-sidebar {
    top: 70px;
    right: -32px;
    padding-left: 5px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .menu-sidebar .show-sidebar img {
    margin-bottom: 2px;
    width: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-sidebar .menu-sidebar__content {
    width: 320px;
    left: -320px;
  }
  .menu-sidebar .show-sidebar {
    top: 112px;
    right: -36px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .menu-sidebar .show-sidebar img {
    width: 18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-sidebar .menu-sidebar__content {
    width: 320px;
    left: -320px;
  }
  .menu-sidebar .show-sidebar {
    top: 112px;
    right: -36px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .menu-sidebar .show-sidebar img {
    width: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .menu-sidebar {
    width: 250px;
  }
}

.menu-sidebar .logo {
  padding: 31px 0;
}

@media (max-width: 575px) {
  .menu-sidebar .logo {
    padding: 10px 20px;
  }
}

.menu-sidebar .logo img {
  width: 134px;
}

@media (max-width: 575px) {
  .menu-sidebar .logo img {
    width: 70px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-sidebar .logo img {
    width: 100px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-sidebar .logo img {
    width: 115px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .menu-sidebar .logo img {
    width: 90px;
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  .menu-sidebar .logo img {
    width: 120px;
  }
}

.menu-sidebar .navbar-sidebars ul li {
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

@media (max-width: 575px) {
  .menu-sidebar .navbar-sidebars ul li {
    padding: 12px 15px;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-sidebar .navbar-sidebars ul li {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-sidebar .navbar-sidebars ul li {
    font-size: 16px;
  }
}

.menu-sidebar .navbar-sidebars ul li a {
  display: inline-block;
  width: 100%;
  padding: 19px 30px;
  color: #ffffff;
  border-left: 4px solid transparent;
}

.menu-sidebar .navbar-sidebars ul li a span {
  margin-left: 16px;
}

.menu-sidebar .navbar-sidebars ul li img {
  margin-bottom: 5px;
  width: 16px;
}

@media (max-width: 575px) {
  .menu-sidebar .navbar-sidebars ul li img {
    width: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-sidebar .navbar-sidebars ul li img {
    width: 14px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .menu-sidebar .navbar-sidebars ul li img {
    width: 14px;
  }
}

@media (max-width: 575px) {
  .menu-sidebar .navbar-sidebars ul li {
    border-width: 4px;
  }
}

@media (min-width: 992px) and (max-width: 1440px) {
  .menu-sidebar .navbar-sidebars ul li {
    border-width: 4px;
  }
}

.menu-sidebar .navbar-sidebars ul li.active a {
  border-color: #00ADB5;
}

.menu-sidebar .navbar-sidebars ul li.active, .menu-sidebar .navbar-sidebars ul li:hover {
  background-color: rgba(32, 32, 32, 0.3);
}

/*---------------------------------- End SideBar --------------------------------*/
.modal .modal-content {
  border: 0;
}

.modal .modal-body {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
}

.modal .modal-title {
  font-size: 18px;
}

.modal .modal-footer .btn {
  font-size: 14px;
  padding: 7px 20px;
  border-radius: 8px;
}

.modal.edit .modal-dialog {
  max-width: 800px;
}

.main-footer {
  padding: 100px 0 40px;
  background-color: #2F2E41;
}

.main-footer p {
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

/* ---------------------------- Start Dashboard ---------------------------- */
.dashboard .jobs-display {
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
  padding: 20px 0 0;
}

.dashboard .jobs-display .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 22px;
  margin-bottom: 20px;
}

.dashboard .jobs-display .head h5 {
  font-weight: 700;
}

.dashboard .jobs-display .head a {
  color: #252733;
  font-weight: 600;
}

.dashboard .jobs-display .table {
  margin-bottom: 0;
}

.dashboard .jobs-display .table th, .dashboard .jobs-display .table td {
  padding-left: 30px;
}

.dashboard .jobs-display .table thead tr {
  border-bottom: 2px solid #E1E1E1;
}

.dashboard .jobs-display .table tbody tr {
  border-bottom: 1px solid #E1E1E1;
  cursor: pointer;
}

.dashboard .jobs-display .table tbody tr:last-of-type {
  border-bottom: 0;
}

.dashboard .jobs-display .table tbody tr:hover {
  background-color: #F9F9F9;
}

.dashboard .jobs-display .table tbody td, .dashboard .jobs-display .table tbody th {
  font-weight: 500;
  padding: 22px 30px 20px;
}

.dashboard .jobs-display .table tbody td span, .dashboard .jobs-display .table tbody th span {
  font-size: 14px;
  color: #9FA2B4;
}

.dashboard .jobs-display .table tbody td h6, .dashboard .jobs-display .table tbody th h6 {
  margin-bottom: 4px;
}

.dashboard .addnewjob {
  text-align: right;
  margin-top: 52px;
}

.dashboard .addnewjob a {
  font-weight: 600;
  color: #2F2E41;
}

.dashboard .addnewjob a:hover {
  color: #2F2E41;
}

.dashboard .addnewjob a span {
  font-size: 22px;
  position: relative;
  top: 3px;
}

/* ---------------------------- End Dashboard ---------------------------- */
/* ------------------------------- Start Access ------------------------------- */
.access .page-content {
  background-color: #F9F9F9;
  min-height: 100vh;
  padding-bottom: 40px;
}

.access .page-content .page-head {
  text-align: center;
  padding: 40px 0 40px;
}

.access .page-content .page-head .logo {
  margin-bottom: 30px;
}

.access .page-content .page-head p {
  font-size: 18px;
  color: #252733;
  font-weight: 500;
}

.access .page-content .page-footer p {
  color: #252733;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.access .page-content .page-footer p a {
  color: #0059AB;
}

.access .access-box {
  background-color: #fff;
  overflow: hidden;
  border-radius: 3px;
  margin: auto;
  font-weight: 500;
}

.access .access-box .error-notice {
  padding: 10px 10px;
  color: #86181d;
  background-color: #ffdce0;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 4px;
  display: none;
  font-size: 12px;
}

.access .access-box .error-notice.showen {
  display: block;
}

.access .access-box .error-notice p {
  margin-bottom: 0;
}

.access .access-box .link {
  font-size: 12px;
  color: #0059AB;
}

.access .access-box label {
  font-size: 14px;
}

.access .access-box .form-control {
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  padding: 4px 8px;
}

.access .access-box .form-control:hover, .access .access-box .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.access .access-box .btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 0 4px;
  margin-top: 14px;
}

.access .access-box .password {
  position: relative;
}

.access .access-box .password .rp-eye {
  color: #9FA2B4;
  position: absolute;
  bottom: 7px;
  right: 7px;
  font-size: 20px;
  cursor: pointer;
}

.access.signin .access-box {
  width: 320px;
  margin-bottom: 50px;
}

.access.signin .access-box .box-body {
  padding: 30px 30px;
}

.access.signin .access-box .box-body .error-notice {
  margin-bottom: 20px;
}

.access.signin .access-box .box-body button {
  width: 100%;
  text-align: center;
}

.access.signin .access-box .box-body .password {
  position: relative;
  font-size: 14px;
}

.access.signin .access-box .box-body .password label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access.signin .access-box .box-body .password .bosh-icon {
  position: absolute;
  top: 38px;
  right: 10px;
  color: #cbcbcb;
  font-size: 20px;
  cursor: pointer;
}

.access.signin .access-box .box-body .password .bosh-icon:hover {
  color: #aaa;
}

.access.signin .access-box .box-footer {
  margin-top: 35px;
  padding-bottom: 30px;
}

.access.signin .access-box .box-footer p {
  font-size: 14px;
  margin: 0;
}

.access.signin .access-box .box-footer a {
  color: #0059AB;
}

.access.signin.verify .box-body {
  padding: 20px;
}

.access.signin.verify .box-body p {
  font-size: 14px;
}

.access.signin.verify .box-body p.sent-email {
  text-align: center;
}

.access.signin.verify .box-footer {
  margin: 10px 0;
}

.access.signin.wslist .access-box {
  width: 400px;
}

.access.signin.wslist .box-body {
  padding: 15px;
}

.access.signin.wslist .box-body .entry .entry-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F2E41;
  border-bottom: 1px solid #E1E1E1;
  padding: 12px 5px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.access.signin.wslist .box-body .entry .entry-wrap:hover {
  background-color: #E1E1E1;
}

.access.signin.wslist .box-body .entry .entry-wrap h6 {
  margin-bottom: 0;
}

.access.signin.wslist .box-body .entry .entry-wrap span {
  font-size: 20px;
  color: #9FA2B4;
}

.access.signin.wslist .box-body .entry:last-of-type .entry-wrap {
  border: 0;
}

.access.signin.wslist .btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 20px;
}

.access.signup .page-content {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access.signup .access-box {
  background-color: #393E46;
  width: 960px;
}

.access.signup .access-box .left-box {
  padding: 60px 25px 0;
}

.access.signup .access-box .left-box .logo {
  width: 160px;
  margin: auto;
}

.access.signup .access-box .left-box .girl {
  margin-top: 60px;
}

.access.signup .access-box .right-box {
  background-color: #fff;
  padding: 60px;
}

.access.signup .access-box .right-box .box-head {
  margin-bottom: 30px;
}

.access.signup .access-box .right-box .box-head h5 {
  color: #252733;
}

.access.signup .access-box .right-box .form-inputs {
  padding-right: 80px;
}

.access.signup .access-box .right-box .form-inputs label {
  margin-bottom: 5px;
  color: #252733;
  font-weight: 600;
}

.access.signup .access-box .right-box .form-inputs .check-box input {
  margin-right: 10px;
}

.access.signup .access-box .right-box .box-footer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access.signup .access-box .right-box .box-footer .btn {
  margin: 0;
  padding: 8px 40px;
}

.access.signup .access-box .right-box .box-footer p {
  margin: 0;
  font-size: 14px;
}

.access.verify .access-box {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.access.verify .access-box .inbox {
  width: 140px;
  margin: auto;
}

.access.verify a {
  width: 100%;
}

.access.newws .page-content {
  display: block;
}

.access.newws .access-box {
  background-color: #6a6a6a;
  width: 860px;
}

.access.newws .access-box .right-box {
  padding: 40px;
}

.access.newws .access-box .right-box .box-body {
  padding: 0;
}

.access.newws .access-box .right-box .box-body label {
  font-size: 16px;
}

.access.newws .access-box .right-box .box-body input:not(last-of-type) {
  margin-bottom: 10px;
}

.access.newws .access-box .right-box .box-body input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.access.newws .access-box .right-box .box-body input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.access.newws .access-box .right-box .box-body input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.access.newws .access-box .right-box .box-body input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.access.newws .access-box .right-box .form-inputs {
  padding-right: 40px;
}

.access.newws .access-box .box-footer {
  padding: 0;
}

.access a {
  color: #0059AB;
}

/* ------------------------------- End Access ------------------------------- */
.home .header {
  position: relative;
  padding-top: 100px;
}

.home .header .container {
  height: 65vh;
}

.home .header .body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .header .body .row .text {
  color: #2F2E41;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.home .header .body .row .text .logo {
  font-size: 108px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 8px;
  font-style: italic;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.home .header .body .row .text .get-start {
  margin-top: 60px;
}

.home .header .svg-shape {
  position: absolute;
  top: 100px;
  right: 150px;
}

.home .header .svg-shape img {
  width: 300px;
}

.home .down-arrow {
  padding: 50px 0;
}

.home .down-arrow img {
  width: 30px;
  -webkit-animation-name: upDown;
          animation-name: upDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  cursor: pointer;
}

.home .about-us .upper-text {
  padding: 0px 194px 100px;
}

.home .about-us .upper-text > p {
  font-family: 'cinzel', sans-serif;
  font-size: 122px;
  line-height: 135px;
  font-weight: 700;
  color: #202020;
}

.home .about-us .upper-text .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .about-us .upper-text .quote > span {
  display: block;
  width: 278px;
  height: 2px;
  background-color: #525252;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.home .about-us .upper-text .quote p {
  position: relative;
  top: -9px;
  margin-left: 55px;
  display: block;
  font-size: 18px;
  color: #525252;
}

.home .about-us .upper-text .quote p span {
  font-weight: 600;
}

.home .about-us .text-image .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .about-us .text-image .row .text h3 {
  line-height: 80px;
  font-size: 42px;
  font-weight: 500;
  color: #707070;
  margin: 80px 0 0 20px;
}

.home .features {
  background-color: #FAFAFA;
}

.home .features .content-box {
  margin-top: 80px;
}

.home .features .content-box .feat {
  background-color: #fff;
  padding: 50px 35px;
  margin: 0 30px;
}

.home .features .content-box .feat .feat-icon {
  margin-bottom: 30px;
  height: 80px;
}

.home .features .content-box .feat .feat-heading {
  font-size: 24px;
  color: #202020;
  margin-bottom: 30px;
}

.home .features .content-box .feat .feat-desc {
  margin-top: 0;
  color: #8c8c8c;
}

.home .get-start h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 32px;
}

.home .get-start p {
  font-size: 18px;
  color: #9FA2B4;
  font-weight: 500;
  margin-bottom: 80px;
}

.home footer {
  padding: 40px 0;
  background-color: #2F2E41;
}

.home footer .body {
  height: 200px;
}

.home footer .tail p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* ---------------------------- Start Home ----------------------------*/
.overview .page-content {
  margin: 0 30px;
}

.overview .states {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview .states .element {
  border: 1px solid #E1E1E1;
  width: 230px;
  padding: 24px 0;
  border-radius: 5px;
  background-color: #fff;
  font-size: 32px;
  font-weight: bold;
}

.overview .states .element h4 {
  color: #707070;
}

/* ---------------------------- End Home ----------------------------*/
/* ----------------------------- Start Jobs -------------------------------*/
.viewjob .page-content, .newjob .page-content {
  padding: 70px;
}

.viewjob .next-action, .newjob .next-action {
  margin: 100px 0 40px;
  text-align: center;
}

.viewjob .next-action .btn, .newjob .next-action .btn {
  font-size: 18px;
}

.viewjob .page-content .jobs-details .jobs-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.viewjob .page-content .jobs-details .jobs-head .title h3 {
  font-weight: bold;
}

.viewjob .page-content .jobs-details .jobs-head .title span {
  font-size: 14px;
  color: #707070;
  font-weight: 500;
}

.viewjob .page-content .jobs-details .jobs-head .state {
  padding-right: 40px;
  position: relative;
}

.viewjob .page-content .jobs-details .jobs-head .state .more {
  position: absolute;
  top: 0;
  right: -10px;
}

.viewjob .page-content .jobs-details .jobs-head .state .more img {
  cursor: pointer;
}

.viewjob .page-content .jobs-details .jobs-head .state .more .dropdown-menu {
  top: 20px !important;
  left: auto !important;
  right: -10px !important;
  min-width: 100px;
}

.viewjob .page-content .jobs-details .jobs-head .state .more .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 500;
}

.viewjob .page-content .jobs-details .jobs-head .state .more .dropdown-menu .dropdown-item:hover {
  color: #252733;
}

.viewjob .page-content .jobs-details .jobs-head .state .more .dropdown-menu .dropdown-item.active, .viewjob .page-content .jobs-details .jobs-head .state .more .dropdown-menu .dropdown-item:active {
  background-color: transparent;
}

.viewjob .page-content .jobs-details .applicants {
  margin-top: 40px;
}

.viewjob .page-content .jobs-details .applicants h5 {
  font-size: 18px;
  font-weight: 600;
}

.viewjob .page-content .jobs-details .applicants h5 span {
  display: inline-block;
  margin-left: 20px;
  font-weight: 500;
  color: #00ADB5;
}

.viewjob .page-content .jobs-details .description {
  margin-top: 40px;
  padding-right: 100px;
}

.viewjob .page-content .jobs-details .description h4 {
  color: #252733;
}

.viewjob .page-content .jobs-details .description p {
  color: #505050;
}

.newjob .title {
  margin-bottom: 20px;
}

.allwsjobs .addnewjob {
  margin-top: 20px;
}

.allwsjobs .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 30px 20px 0px;
}

.allwsjobs .pagination .tools {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #707070;
}

.allwsjobs .pagination .tools span {
  font-size: 20px;
  font-weight: 300;
}

.allwsjobs .pagination .tools .num span {
  font-size: 18px;
  font-weight: 500;
}

/* ----------------------------- End Jobs -------------------------------*/
/*# sourceMappingURL=master.css.map */